{% set zsh_ssh_keys = lookup('community.general.merge_variables', 'zsh_ssh_keys', pattern_type='prefix') %}
{% set zsh_bitwarden_profiles = lookup('community.general.merge_variables', 'zsh_bitwarden_profiles', pattern_type='prefix') %}
{% set zsh_startup_programs = lookup('community.general.merge_variables', 'zsh_startup_programs', pattern_type='prefix') %}
{% set zsh_startup_programs_light_theme = lookup('community.general.merge_variables', 'zsh_startup_programs_light_theme', pattern_type='prefix') %}
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="peet"

zstyle ':omz:update' mode auto

plugins=(
	git
	colored-man-pages
	zsh-syntax-highlighting
)

source $ZSH/oh-my-zsh.sh

SAVEHIST=1000000
HISTSIZE=$SAVEHIST

unsetopt share_history
setopt inc_append_history
setopt hist_ignore_all_dups

{% if zsh_set_ssh_auth_sock %}
export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/ssh-agent.socket
{% endif %}

# Set vim as editor
export VISUAL="vim"
export EDITOR="vim"
export SYSTEMD_EDITOR="vim"

# Set FZF find command
export FZF_DEFAULT_COMMAND="fd --type file --color=always"
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
export FZF_DEFAULT_OPTS="--ansi"

# Set up fzf shortcuts and completions
{% if ansible_facts["distribution"] == "Debian" %}
source /usr/share/doc/fzf/examples/key-bindings.zsh
{% elif ansible_facts["distribution"] == "Archlinux" %}
source /usr/share/fzf/completion.zsh
source /usr/share/fzf/key-bindings.zsh
{% endif %}

# Allow editing current command in editor
autoload -U edit-command-line
bindkey '^e' edit-command-line

# Fix tilix configuration issue (https://gnunn1.github.io/tilix-web/manual/vteconfig/)
if [ $TILIX_ID ] || [ $VTE_VERSION ]; then
	source /etc/profile.d/vte.sh
fi

alias ip="ip -c"
alias cert_text="openssl x509 -text -noout -in $1"
alias clipin="xclip -selection clipboard"
alias clipout="xclip -selection clipboard -out"

# Distribution-dependent aliases
{% if ansible_facts["distribution"] == "Debian" %}
alias yay="sudo apt update && sudo apt upgrade"
{% elif ansible_facts["distribution"] == "Archlinux" %}
alias autoremove='sudo pacman -Rns $(pacman -Qtdq)'
{% endif %}

{% if zsh_user_info.uid != 0 %}
# Unlock rbw
{% for profile in zsh_bitwarden_profiles | selectattr("automatic", "defined") | selectattr("automatic") %}
{% if profile.name != "" %}RBW_PROFILE={{ profile.name }} {% endif %}rbw unlock || exit
{% endfor %}

# Unlock ssh keys
{% for ssh_key in zsh_ssh_keys | selectattr("automatic", "defined") | selectattr("automatic") %}
{% if "bitwarden_password_id" in ssh_key %}
expect -c '
	set pass [exec rbw get "{{ ssh_key.bitwarden_password_id }}"]
	spawn ssh-add $env(HOME)/.ssh/{{ ssh_key.filename }}
	expect "Enter passphrase"
	send "$pass\r"
	expect eof
' > /dev/null
{% else %}
ssh-add $HOME/.ssh/{{ ssh_key.filename }}
{% endif %}
{% endfor %}

# Unlock sudo
rbw get {{ zsh_sudo_password_bitwarden_id }} | sudo -S true > /dev/null 2>&1

{% endif %}
function mkcd() {
	mkdir -p $1
	cd $1
}

acp() {
	if [ -z $1 ]; then
		echo "No commit message given."
		return
	fi
	git add -A
	git commit -m $1
	git push
}

{% if zsh_user_info.uid != 0 %}
{% for profile in zsh_bitwarden_profiles | json_query("[?automatic==`false` || automatic==`null`]") %}
unlock_{{ profile.name }}() {
	{% if profile.name != "" %}RBW_PROFILE={{ profile.name }} {% endif %}rbw unlock || exit
{% for ssh_key in zsh_ssh_keys | json_query("[?automatic==`false` || automatic==`null`]") | selectattr("bitwarden_profile", "equalto", profile.name) %}
{% if "bitwarden_password_id" in ssh_key %}
	expect -c '
		set env(RBW_PROFILE) "{{ ssh_key.bitwarden_profile }}"
		set pass [exec rbw get "{{ ssh_key.bitwarden_password_id }}"]
		spawn ssh-add $env(HOME)/.ssh/{{ ssh_key.filename }}
		expect "Enter passphrase"
		send "$pass\r"
		expect eof
	' > /dev/null
{% else %}
	ssh-add $HOME/.ssh/{{ ssh_key.filename }}
{% endif %}
{% endfor %}
}

{% endfor %}
run_program_if_not_running() {
	if [ $# -gt 1 ]; then
		progname="$1"
		shift
		cmd="$@"
	else
		progname="$1"
		cmd="$1"
	fi

	# Get process list first to not have "rg $progname" in it
	processes=$(ps -eo args)
	if echo "$processes" | rg "^.*?$progname( |$)" > /dev/null; then
		echo "$progname is already running."
		return
	fi

	echo -n "Launching $progname using command $cmd..."
	# Run program and disown immediately (&!)
	# Do this in a subshell to not have the job notification printed
	($cmd > /dev/null 2>&1 &!)
	echo " Done."
}

{% if (zsh_startup_programs is defined and zsh_startup_programs) or (zsh_startup_programs_light_theme is defined and zsh_startup_programs_light_theme) %}
# startup
startup() {
{% if zsh_startup_programs is defined and zsh_startup_programs %}
{% for prog in zsh_startup_programs %}
	run_program_if_not_running {{ prog }}
{% endfor %}
{% endif %}
{% if zsh_startup_programs_light_theme is defined and zsh_startup_programs_light_theme %}

	export GTK_THEME={{ zsh_startup_light_theme_name }}
{% for prog in zsh_startup_programs_light_theme %}
	run_program_if_not_running {{ prog }}
{% endfor %}
	unset GTK_THEME
{% endif %}
	exit
}

{% endif %}
{% endif %}
# Caddy logging helpers
function caddy_log_internal() {
	LOG_PATH=/var/log/caddy/"$1".log

	if ! [ -f "$LOG_PATH" ]; then
		LOG_PATH="$1"
		if ! [ -f "$LOG_PATH" ]; then
			echo "Logfile does not exist, possible are:"
			ls /var/log/caddy/*.log | sed 's#/var/log/caddy/##' | sed 's/.log//'
			return
		fi
	fi

	shift

	format_string='[\(.ts | strflocaltime("%Y-%m-%dT%H:%M:%S%z"))] \(.request.remote_ip) \(if .user_id == "" then "-" else .user_id end) \(.request.method) \(.request.uri) \(.request.proto) \(.status) \(.size)'
	if [ "$1" -ne 0 ]; then
		# Add user agent
		format_string="$format_string    \(.request.headers.\"User-Agent\"[])"
	fi

	shift

	$@ "$LOG_PATH" | jq -Rr 'fromjson? | "'"$format_string"'"'
}

caddy_log() { caddy_log_internal "$1" 0 cat }
caddy_log_gzip() { caddy_log_internal "$1" 0 zcat }
caddy_log_tail() { caddy_log_internal "$1" 0 tail -f }
caddy_log_useragent() { caddy_log_internal "$1" 1 cat }
caddy_log_useragent_gzip() { caddy_log_internal "$1" 1 zcat }
caddy_log_tail_useragent() { caddy_log_internal "$1" 1 tail -f }
alias cl=caddy_log
alias clz=caddy_log_gzip
alias clt=caddy_log_tail
alias clu=caddy_log_useragent
alias cluz=caddy_log_useragent_gzip
alias cltu=caddy_log_tail_useragent

{% if zsh_machine_specific is defined %}
# Machine specific
{{ zsh_machine_specific }}
{% endif %}