{% set ntpdrs_ntp_servers = lookup('community.general.merge_variables', 'ntpdrs_ntp_servers_', pattern_type='prefix') %}
{% set ntpdrs_nts_servers = lookup('community.general.merge_variables', 'ntpdrs_nts_servers_', pattern_type='prefix') %}
# {{ ansible_managed }}
[observability]
# You can configure ntpd-rs with different output levels of logging information
# Basic values for this are `trace`, `debug`, `info`, `warn` and `error`.
log-level = "info"
## Using the observe socket you can retrieve statistical information about the
## daemon while it is running. You can use the `ntp-ctl` or prometheus based
## `ntp-metrics-exporter` binaries for some default options to read from the
## observe socket.
observation-path = "/var/run/ntpd-rs/observe"

{% if ntpdrs_ntp_servers %}
{% for entry in ntpdrs_ntp_servers %}
[[source]]
mode = "server"
address = "{{ entry }}"

{% endfor %}
{% endif %}
{% if ntpdrs_nts_servers %}
{% for entry in ntpdrs_nts_servers %}
[[source]]
mode = "nts"
address = "{{ entry }}"

{% endfor %}
{% endif %}
## Below are configured various thresholds beyond which ntpd-rs will not
## change the system clock. CHANGE THESE TO MATCH YOUR SECURITY NEEDS!
[synchronization]
# The maximum step size (in seconds) of a single step during normal operation
single-step-panic-threshold = 1800
# On startup a larger jump may occur, this sets limits for that initial jump
startup-step-panic-threshold = { forward="inf", backward = 86400 }
# If, during the lifetime of the ntp-daemon the combined time of time jumps
# exceeds this value, then the NTP daemon will stop, this is disabled by default
#accumulated-threshold = 1800
#minimum-agreeing-sources = 3